[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pip-review = "*"
tqdm = "*"
joblib = "*"
pandas = "*"
numpy = "*"
scipy = "*"
matplotlib = "*"
japanize-matplotlib = "*"
scikit-learn = "*"
optuna = "*"
lightgbm = "*"
yacs = "*"
torch = "*"
torchvision = "*"
opencv-python = "*"
mlflow = "*"

[dev-packages]
black = "*"
flake8 = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
